body {
  font-family: "Baloo Chettan 2", cursive;
  font-size: 16px;
  line-height: 1.5;
  background-image: url("./images/virus.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  text-align: center;
}
div {
  background-color: rgba(255, 255, 255, 0.5);
  padding-left: 10px;
}
#dead {
  color: #ff0000;
}

#case {
  color: #ffd700;
}

#recovery {
  color: #008000;
}
li,
p {
  color: #f5f5dc;
}
#social {
  height: 200px;
}
#social a i {
  padding: 15px;
  font-size: 2rem;
  color: #000000;
  text-align: center;
}
@media only screen and (min-width: 769px) {
  p {
    width: 80%;
  }
}
