body {
  font-family: "Baloo Chettan 2", cursive;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  box-sizing: border-box;
  background-image: url("./images/virus.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  background-color: #d2691e;
  display: inline-flex;
  align-items: baseline;
  width: 100%;
}

button {
  background: #000000;
  color: #d2691e;
  border-radius: 8px;
  transition-duration: 0.4s;
  width: 80px;
  height: 30px;
  margin-top: 5px;
  border-color: transparent;
  font-size: 0.9em;
}

button:hover {
  background-color: #d2691e;
  color: white;
}

input {
  width: 40%;
  padding-top: 5px;
  padding-bottom: 5px;
}

input:focus {
  color: #d2691e;
}

#results {
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#results p {
  color: #000000;
  font-weight: 600;
}


.menuButton {
  padding-left: 15px;
}

h1 {
  text-align: center;
  padding-left: 10px;
}

#dropDown {
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 0px;
  padding-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 10px;
}

#dropDown ul {
  padding-right: 20%;
  padding-left: 20%;
}

.hide {
  display: none;
}

.warn {
  text-align: center;
  font-size: 0.9em;
  margin-top: 0px;
  color: black;
}

form {
  text-align: center;
  padding-top: 15px;
}

main,
section {
  margin-left: 10px;
  margin-right: 10px;
}

li a {
  color: #ffffff;
}

.fa-bars,
h1 {
  font-size: 7vw;
}

/* nav {
  flex-shrink: 0;
} */

nav div ul li {
  list-style: none;
  background-color: #d2691e61;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 5px;
}

nav div ul li a {
  transition: color 1s;
  font-size: 1.3rem;
}

nav div ul li a:hover {
  font-weight: 800;
  color: #d2691e;
  transform: scale(0.6);
}

.fa-bars:active {
  transform: rotate(90deg);
}

#results,
#case,
#recovery,
#dead,
#country,
#country2,
footer {
  background-color: rgba(255, 255, 255, 0.5);
  padding-left: 10px;
}

#dead {
  color: #ff0000;
}

#case {
  color: #ffd700;
}

#recovery {
  color: #008000;
}

#country p,
#country2 p {
  color: #008000;
  font-weight: 600;
}

span {
  font-size: 1.3em;
}

a {
  text-decoration: none;
}

li,
p {
  color: #f5f5dc;
}

#social {
  padding-bottom: 20px;
  padding-top: 10px;
}

#social a i {
  padding: 15px;
  font-size: 1.5rem;
  color: #000000;
  text-align: center;
}

footer {
  background-color: rgba(255, 255, 255, 0.5);
  padding-right: 10px;
}

footer p {
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 8px;
  margin-bottom: 8px;
}

footer p a {
  color: #000000;
}

@media only screen and (max-width: 769px) {
  #social {
    text-align: center;
  }
}

@media only screen and (min-width: 769px) {
  p {
    width: 80%;
  }
}